<h1>Caro, <%= @user.name%>. Bem vindo ao sistema Twinnter</h1>

<p>
  Confirme sua conta clicando no botão abaixo 
</p>
<%= link_to "Confirme sua conta", 'link_do_meu_frontend/confirmate/?key='+@user.validate_token %>